<% layout('layouts/boilerplate')%>

<% let srNo = 1 %> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Sr No.</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Information</th>
      </tr>
    </thead>
    <tbody>
        <% for (let user of users) {%> 
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Button with data-bs-target
                        </button>
                      </p>
                </td>
            </tr>
            <tr>
                    <div class="collapse" id="collapseExample">
                  
                        <div class="card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div>
                    </div>
            </tr>
              
        <% } %> 
    </tbody>    